*.aps
*.i
*.opensdf
*.sdf
*.VC.VC.opendb
*.VC.db
*.vcxproj.user
*.pdnBak
~$*
.vs/
**/*.VC.VC.opendb
**/*.VC.db
**/.vs/
**/imgui.ini
**/__pycache__/
/ipch/
/DebugUI/
/Debug/
/Engine/resources/Logs/
/Installer/
/Release/
/Sample/
/Test/
/x??/
/*/DebugUI/
/*/Debug/
/*/Release/
/*/Sample/
/*/Test/
/*/x??/DebugUI/
/*/x??/Debug/
/*/x??/Installer/
/*/x??/Release/
/*/x??/Sample/
/*/x??/Test/
/UnityPrototype/*/Library/
/UnityPrototype/*/Temp/
Installer/Installer/
Installer/Intermediate/
/Shadowmelder/tests/Catch/data/temp*.json
/Shadowmelder/samples/imgui.ini
